@import url('assets/font/karbid.css');
@import url('assets/font/gentium.css');
@import url('assets/font/roboto.css');

#page {
  background-color: #6f767c;
}

a {
  color: #4fa1db;
}

#page h1, #page h2, #page h3, #page h4, #page h5, #page p.author, #page p.publisher {
  font-family: 'ff-karbid-text-web-pro', sans-serif;
  font-weight: normal;
}

/* Cover */

#page header {
  background: #c51d49;
}

#page p.publisher {
  background: white;
  color: #4fa1db;
  font-weight: bold;
  text-align: center;
}
#page p.publisher span.tld {
  color: #cb0078;
}

#page p.author {
  background: #017686;
  color: white;
  font-weight: bold;
  font-size: 45px;
}

#page h1 {
  font-weight: bold;
  background: #017686;
  color: white;
}
@media (width: 768px) { #page h1 { height: 250px; } #page .logo { height: 504px } }

#page .logo {
  background-image: url('assets/img/cover.png');
  background-position: 50%;
  background-size: 100%;
}

/* Chapter title */

#page h2 {
  border-bottom: 5px #00e7e0 solid;
  color: #00817d;
  background-size: 100% !important;
  background-position: 50% !important;
  padding-left: 84px;
  padding-right: 0px;
}

#page h2>span {
  background: rgba(255,255,255,0.8);
  border-radius: 3px 0 0 3px;
  padding: 8px 8px;
  display: block;
}

/* Chapter backgrounds */

#page h2#h2_CS_4988 { background: url('assets/img/img_headings/CS_4988.jpg'); }
#page h2#h2_CS_4853 { background: url('assets/img/img_headings/CS_4853.jpg'); }
#page h2#h2_CS_5386 { background: url('assets/img/img_headings/CS_5386.jpg'); }
#page h2#h2_CS_5431 { background: url('assets/img/img_headings/CS_5431.jpg'); }
#page h2#h2_CS_4863 { background: url('assets/img/img_headings/CS_4863.jpg'); }
#page h2#h2_CS_5436 { background: url('assets/img/img_headings/CS_5436.jpg'); }
#page h2#h2_CS_5375 { background: url('assets/img/img_headings/CS_5375.jpg'); }
#page h2#h2_CS_4890 { background: url('assets/img/img_headings/CS_4890.jpg'); }
#page h2#h2_CS_5598 { background: url('assets/img/img_headings/CS_5598.jpg'); }
#page h2#h2_CS_5481 { background: url('assets/img/img_headings/CS_5481.jpg'); }
#page h2#h2_CS_5497 { background: url('assets/img/img_headings/CS_5497.jpg'); }
#page h2#h2_CS_4954 { background: url('assets/img/img_headings/CS_4954.jpg'); }
#page h2#h2_CS_5608 { background: url('assets/img/img_headings/CS_5608.jpg'); }
#page h2#h2_CS_5193 { background: url('assets/img/img_headings/CS_5193.jpg'); }
#page h2#h2_CS_5405 { background: url('assets/img/img_headings/CS_5405.jpg'); }
#page h2#h2_CS_4965 { background: url('assets/img/img_headings/CS_4965.jpg'); }
#page h2#h2_CS_5270 { background: url('assets/img/img_headings/CS_5270.jpg'); }
#page h2#h2_CS_5241 { background: url('assets/img/img_headings/CS_5241.jpg'); }
#page h2#h2_CS_4837 { background: url('assets/img/img_headings/CS_4837.jpg'); }
#page h2#h2_CS_5005 { background: url('assets/img/img_headings/CS_5005.jpg'); }



/* chapter bottom border */
#page #chapter1>h2 { border-bottom: 5px solid #ddcbcb; }
#page #chapter2>h2 { border-bottom: 5px solid #ddcbcb; }
#page #chapter3>h2 { border-bottom: 5px solid #f77d6b; }
#page #chapter4>h2 { border-bottom: 5px solid #0fa5e0; }
#page #chapter5>h2 { border-bottom: 5px solid #d8b88f; }
#page #chapter6>h2 { border-bottom: 5px solid #99241f; }
#page #chapter7>h2 { border-bottom: 5px solid #593723; }
#page #chapter8>h2 { border-bottom: 5px solid #e8e656; }
#page #chapter9>h2 { border-bottom: 5px solid #d3aa34; }
#page #chapter10>h2 { border-bottom: 5px solid #9fe2f1; }
#page #chapter11>h2 { border-bottom: 5px solid #842a32; }
#page #chapter12>h2 { border-bottom: 5px solid #5beb5b; }
#page #chapter13>h2 { border-bottom: 5px solid #7d2031; }
#page #chapter14>h2 { border-bottom: 5px solid #eddfbb; }
#page #chapter15>h2 { border-bottom: 5px solid #74a651; }
#page #chapter16>h2 { border-bottom: 5px solid #0f5fba; }
#page #chapter17>h2 { border-bottom: 5px solid #2b2e3a; }
#page #chapter18>h2 { border-bottom: 5px solid #0d0004; }
#page #chapter19>h2 { border-bottom: 5px solid #a72b18; }
#page #chapter20>h2 { border-bottom: 5px solid #25ff9b; }

#page h3 {
  color: #566373;
}

#page h4 {
  color: #009b96;
}

#page h5 {
  color: #00817d;
}

#page p, #page ul, #page ol, #page li {
  font-family: 'Gentium Book Basic';
  font-weight: 400;
  font-style: normal;
}

#page figure, #page video {
  outline: solid 1px #ddd;
}

/* use color of chapter nav in images color*/
#page #chapter1 figure img {
  border-bottom: 5px solid rgba(221, 203, 203, 0.5);
}
#page #chapter2 figure img {
  border-bottom: 5px solid rgba(221, 203, 203, 0.5);
}
#page #chapter3 figure img {
  border-bottom: 5px solid rgba(247, 125, 107, 0.5);
}
#page #chapter4 figure img {
  border-bottom: 5px solid rgba(15, 165, 224, 0.5);
}
#page #chapter5 figure img {
  border-bottom: 5px solid rgba(216, 184, 143, 0.5);
}
#page #chapter6 figure img {
  border-bottom: 5px solid rgba(153, 36, 31, 0.5);
}
#page #chapter7 figure img {
  border-bottom: 5px solid rgba(89, 55, 35, 0.5);
}
#page #chapter8 figure img {
  border-bottom: 5px solid rgba(232, 230, 86, 0.5);
}
#page #chapter9 figure img {
  border-bottom: 5px solid rgba(211, 170, 52, 0.5);
}
#page #chapter10 figure img {
  border-bottom: 5px solid rgba(159, 226, 241, 0.5);
}
#page #chapter11 figure img {
  border-bottom: 5px solid rgba(132, 42, 50, 0.5);
}
#page #chapter12 figure img {
  border-bottom: 5px solid rgba(91, 235, 91, 0.5);
}
#page #chapter13 figure img {
  border-bottom: 5px solid rgba(125, 32, 49, 0.5);
}
#page #chapter14 figure img {
  border-bottom: 5px solid rgba(237, 223, 187, 0.5);
}
#page #chapter15 figure img {
  border-bottom: 5px solid rgba(116, 166, 81, 0.5);
}
#page #chapter16 figure img {
  border-bottom: 5px solid rgba(15, 95, 186, 0.5);
}
#page #chapter17 figure img {
  border-bottom: 5px solid rgba(43, 46, 58, 0.5);
}
#page #chapter18 figure img {
  border-bottom: 5px solid rgba(13, 0, 4, 0.5);
}
#page #chapter19 figure img {
  border-bottom: 5px solid rgba(167, 43, 24, 0.5);
}
#page #chapter20 figure img {
  border-bottom: 5px solid rgba(37, 255, 155, 0.5);
}
.overlay figcaption,
.overlay p,
#page figcaption {
  font-family: 'Roboto', sans-serif;
}

#page blockquote {
  font-family: 'Gentium Book Basic', sans-serif;
  font-weight: 400;
  font-style: italic;
  border-left-color: #cb0078;
}

#page .pop {
  background: #EBE7DB;
}

.overlay figure,
.overlay p {
  border: #cb0078 solid 3px;
}

/* Slideshow */

#page div.slideshow {
  background: #EBE7DB;
}

/* Backmatter */

#page #backmatter {
  background-color: #E5FFFB;
}

#page #backmatter h2 {
  color: #82be66;
}

#page #copyright {
  color: white;
  background: #82be66;
}

#page #backmatter form input {
  -webkit-appearance: none;
  background: white;
  border: #cb0078 solid 1px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px 0 0 3px;
  margin-right: 0px;
}

#page #backmatter form input[type='submit'] {
  background: #cb0078;
  border: #cb0078 solid 1px;
  border-radius: 0 3px 3px 0;
  color: white;
  font-weight: bold;
  line-height: 28px;
  margin-left: 0px;
}

/* Navigation */

nav {
  font-family: 'ff-karbid-text-web-pro', sans-serif;
  font-weight: bold;
}

nav a {
  color: white;
  background-image: url('framework/img/active.png'), url('framework/img/shadow.png');
  background-size: 40px;
  background-position: 256px center, 256px center;
  background-repeat: no-repeat;
}

nav a.active {
  background-color: transparent;
  background-image: url('framework/img/active.png'), url('framework/img/shadow.png');
  background-size: 40px;
  background-position: 216px center, 256px center;
  background-repeat: no-repeat;
}

nav a:hover {
  color: white;
}

nav>ul>li>a,
nav>ul>li>a:hover {
  color: #cccccc;
  font-weight: normal;
  text-align: center;
}

nav ul ul {
  box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,.2), inset 0px -5px 10px 0px rgba(0,0,0,.2);
}

nav>ul>li>ul>li>ul {
  background-color: transparent;
  margin-bottom: 0px;
}